!!!
%html
  %head
    %title= page_title
    = csrf_meta_tags

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'



  %body.container-fluid
  = stylesheet_link_tag    'application', media: 'all', 'lightbox': 'reload'
  = javascript_include_tag 'application', 'lightbox': 'reload'

  %div.container-fluid.row.logo_image
    = image_tag 'logo.jpg'
  %div.container-fluid.row
    = render "index/menu"

  %div.container-fliud
    %br
    = render "index/section_name"
    %br
    %br
    = yield
    %hr
    %footer
      = render "index/profiles_social"
      %p
        © 2016
        = succeed "." do
          %a{:href => "https://vk.com/medaved"} Dmitry
        All rights reserved.
        = succeed "." do
          %a{:href => "https://telegram.me/medaved"} Telegram ME
      = render "layouts/metrika"