!!!
%html
  %head
    %title= page_title
    = csrf_meta_tags

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'



  %body.container-fluid
  = stylesheet_link_tag    'application', media: 'all', 'lightbox': 'reload'
  = javascript_include_tag 'application', 'lightbox': 'reload'

  %div.container-fluid.row.logo_image
    = render "layouts/metrika"
    = image_tag 'logo.jpg'
  %div.container-fluid.row
    = render "index/menu"

  %div.container-fliud
    %br
    = render "index/section_name"
    %br
    %br
    = yield
    %footer
    %hr
    = render "index/profiles_social"

